---
import GithubIcon from "../icons/GithubIcon.astro";
---

<a href="https://github.com/lazylabz/gomander" target="_blank"
   class="text-white border-2 border-white px-6 py-3 rounded-lg font-semibold hover:bg-white hover:text-gray-900 transition-all duration-300 flex items-center gap-2">
    <GithubIcon />
    View on GitHub
</a>